.back-img {
  position: fixed;
  background: url(./soccer_img.jpg) center center/cover no-repeat;
  z-index: -20;
  width: 100%;
  height: 100%;
}

body {
  background-color: #0f0f0f !important;
  font-size: 16px;
  color: white !important;
}

.center, .date-form-div, .date-matches-team-container, .date-matches-team-div, .date-matches-team-div .date-matches-2, .date-matches-team-div .left-side, .date-matches-team-div .right-side, .team-score-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.date-top-h2 {
  margin: 20px 0px;
  color: #fd8196;
}

.calendar-input {
  padding: 5px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  border: none;
  color: white;
  outline: none;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
  width: 200px;
}

.calendar-input:focus {
  border-bottom: 2px solid #fd8196;
}

.date-form-div {
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.date-matches-team-container {
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.date-matches-team-div {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 80%;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px 0px;
}

.date-matches-team-div .date-matches-2 {
  width: 100%;
  height: 150px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px 0px;
}

.date-matches-team-div .left-side {
  width: 40%;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
}

.date-matches-team-div .mid-side {
  width: auto;
  color: #fd8196;
}

.date-matches-team-div .right-side {
  width: 40%;
  line-height: 20px;
  text-align: center;
  font-weight: 500;
}

.team-score-container {
  width: 80%;
  height: auto;
}

.team-score-container #score {
  width: 50%;
  text-align: center;
  color: #fd8196;
  font-weight: 100;
}

@media only screen and (min-width: 1000px) and (max-width: 1500px) {
  .calendar-input {
    width: 225px;
  }
  .date-matches-team-div .date-matches-2 {
    margin: 0px;
    padding: 0px;
    height: 50px;
  }
  .date-matches-team-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .date-matches-team-div .left-side {
    font-size: 1.2em;
  }
  .date-matches-team-div .right-side {
    font-size: 1.2em;
  }
  .team-score-container #score {
    font-size: 1.2em;
  }
  .date-matches-team-div .mid-side {
    font-size: 1.2em;
  }
}

@media only screen and (min-width: 1500px) and (max-width: 1800px) {
  .calendar-input {
    width: 375px;
    font-size: 1.25em;
  }
  .date-matches-team-div .date-matches-2 {
    margin: 0px;
    padding: 0px;
    height: 50px;
  }
  .date-matches-team-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .date-matches-team-div .left-side {
    font-size: 1.4em;
  }
  .date-matches-team-div .right-side {
    font-size: 1.4em;
  }
  .team-score-container #score {
    font-size: 1.4em;
  }
  .date-matches-team-div .mid-side {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 1800px) {
  .calendar-input {
    width: 450px;
    font-size: 1.5em;
  }
  .date-matches-team-div .date-matches-2 {
    margin: 0px;
    padding: 0px;
    height: 50px;
  }
  .date-matches-team-div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .date-matches-team-div .left-side {
    font-size: 1.75em;
  }
  .date-matches-team-div .right-side {
    font-size: 1.75em;
  }
  .team-score-container #score {
    font-size: 1.75em;
  }
  .date-matches-team-div .mid-side {
    font-size: 1.75em;
  }
}

@media only screen and (min-width: 1800px) and (max-width: 2000px) {
  .date-matches-team-div {
    width: 70%;
    height: 175px;
  }
}

@media only screen and (min-width: 2000px) and (max-width: 2200px) {
  .date-matches-team-div {
    width: 60%;
    height: 175px;
  }
}

@media only screen and (min-width: 2200px) and (max-width: 2400px) {
  .date-matches-team-div {
    width: 55%;
    height: 175px;
  }
}

@media only screen and (min-width: 2400px) {
  .date-matches-team-div {
    width: 50%;
    height: 175px;
  }
}
/*# sourceMappingURL=dateformatchespage.css.map */