.back-img {
  position: fixed;
  background: url(./soccer_img.jpg) center center/cover no-repeat;
  z-index: -20;
  width: 100%;
  height: 100%;
}

body {
  background-color: #0f0f0f !important;
  font-size: 16px;
  color: white !important;
}

.center, .team-search-top-page, .list-of-teams-div .list-content-div, .link-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.team-search-top-page {
  position: relative;
  width: 100%;
  height: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 20px 0px;
}

.team-search-top-page input {
  width: 80%;
  height: 40px;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  padding-left: 10px;
  color: white;
  border-radius: 5px;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  -webkit-transition: all 400ms ease;
  transition: all 400ms ease;
}

.team-search-top-page input:focus {
  border-bottom: 2px solid #fd8196;
}

.team-search-column-div {
  width: 100%;
  height: auto;
  margin: 20px 0px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100%, 2fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100%, 2fr));
  justify-items: center;
}

.team-search-column-div .team-search-column-content {
  width: 80%;
  height: 175px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.75);
}

.list-of-teams-div {
  width: 100%;
  height: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(100%, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  justify-items: center;
}

.list-of-teams-div .list-content-div {
  width: 80%;
  height: 150px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: rgba(0, 0, 0, 0.75);
  border-radius: 10px;
  margin: 20px 0px;
  padding: 10px 0px;
  cursor: pointer;
}

.list-of-teams-div .list-content-div img {
  width: auto;
  height: 65px;
}

.link-width {
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.link-width .team-name {
  font-size: 1.1em;
}

.link-width .team-country {
  color: #fd8196;
  font-weight: 600;
}

@media only screen and (min-width: 700px) and (max-width: 950px) {
  .list-of-teams-div {
    -ms-grid-columns: (minmax(45%, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(45%, 2fr));
  }
}

@media only screen and (min-width: 951px) and (max-width: 1500px) {
  .list-of-teams-div {
    -ms-grid-columns: (minmax(400px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(400px, 2fr));
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  .list-of-teams-div .list-content-div {
    width: 400px;
    height: 200px;
  }
}

@media only screen and (min-width: 1501px) {
  .list-of-teams-div {
    -ms-grid-columns: (minmax(450px, 2fr))[auto-fit];
        grid-template-columns: repeat(auto-fit, minmax(450px, 2fr));
    -webkit-column-gap: 25px;
            column-gap: 25px;
  }
  .list-of-teams-div .list-content-div {
    width: 450px;
    height: 225px;
  }
  .link-width .team-name {
    font-size: 1.45em;
  }
  .list-of-teams-div .list-content-div img {
    height: 90px;
  }
  .link-width .team-country {
    font-size: 1.25em;
  }
  .team-search-top-page input {
    height: 50px;
  }
}

@media only screen and (min-width: 1801px) and (max-width: 2000px) {
  .list-of-teams-div {
    width: 85%;
  }
  .team-search-top-page input {
    width: 85%;
  }
}

@media only screen and (min-width: 2001px) and (max-width: 2200px) {
  .list-of-teams-div {
    width: 75%;
  }
  .team-search-top-page input {
    width: 75%;
  }
}

@media only screen and (min-width: 2201px) and (max-width: 2350px) {
  .list-of-teams-div {
    width: 65%;
  }
  .team-search-top-page input {
    width: 65%;
  }
}

@media only screen and (min-width: 2350px) {
  .list-of-teams-div {
    width: 60%;
  }
  .team-search-top-page input {
    width: 60%;
  }
}
/*# sourceMappingURL=teamsearch.css.map */